body {
    background-image: url(./cropped-1366-768-1052537.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Space Grotesk', sans-serif; 
}

.animeList {
    margin-top: 20px;
}



.form-control {
    width: 80%;
}

h2 {
    margin-bottom: 1em;    
}
.productName {
    width: 70%;
    
    border-radius: 5px;
    background-color: #f9ffeb;
    padding: 15px;
    margin-bottom: 0.4em;
    cursor: pointer;
    user-select: none;
    display: inline;
}
.clicked {
    text-decoration: line-through;
}
.main {
    display: flex;
    justify-content: center;
    
}

.fa-trash-alt {
    margin-top: 0.4em;
    color: black;
    font-size: 1.7rem;
    cursor: pointer;
    margin-left: 0.3em;
    
    
}


